body {
  margin: 0;
    -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-repeat: no-repeat;
  scrollbar-width: none;
  background: url("images/bg.jpg");
  
}
.carousel {
  position: fixed;
  margin-top: 3%;
  margin-left: -6%;
}

.registerbox {
  position: fixed;
  margin-top: 1.5%;
  margin-left: 65%;
}

.maindiv {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.register{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  padding-bottom: 20px;
  overflow-y: auto;
}
.register2{
  padding-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  padding-bottom: 20px;
}
.registerinput1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}
.registerinput2{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}
.centercol{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: space-between;
  margin:auto;
  width:90%;
}

@font-face {
  font-family: 'Italiana-Regular';
  src: local('Italiana-Regular'), url(./fonts/Italiana-Regular.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url(./fonts/Roboto-Thin.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}