body {
  margin: 0;
    -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-repeat: no-repeat;
  scrollbar-width: none;
  height: 80%;
}

.choosefile-pfp {
  margin-left: 1px;
}

.descriptioncontainer {
  text-align: justify;
  padding: 10px 20px;
  overflow-y: auto;
  max-height: 200px;
  word-wrap: break-word;
}
.descriptioncontainer2 {
  text-align: justify;
  padding: 10px 20px;
  overflow-y: auto;
  max-height: 260px;
}

.edit-username {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(151, 100, 7, 0.681);
  background-color: #FFBF5F;
}
.editdiv{
  padding: 10px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  vertical-align: center;
  flex-direction: column;
}
.mainboxdiv {
  margin-left: 4%;
}

.editmainboxdiv {
  margin-left: 4%;
  display: flex;
  flex-direction: row;
}

.rightboxdiv {
  margin-left: 35%;
  margin-top: 1%;
  padding: auto;
  background-color: #FFBF5F;
  border-radius: 9px;
  width: 58%;
  height: 280px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.namecontainer {
 text-align: left;
 margin-top: -31%;
 margin-left: 35%;
 font-size: 43px;
 font-weight: bold;
 color: rgb(246, 241, 235);
 text-shadow: 2px 2px 8px black;
 display: flex;
}
.editnamecontainer {
  text-align: left;
  margin-top: -31%;
  margin-left: 35%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
 }


.usernamecontainer {
  text-align: left;
  margin-top: 0%;
  margin-left: 35%;
  font-size: 38px;
  font-weight: normal;
  color: rgb(246, 241, 235);

 }

 .usernamecontainer-edit {
  text-align: left;
  margin-top: 0%;
  margin-left: 35%;
  font-size: 18px;
  font-weight: normal;
  text-shadow: 2px 2px 8px black;
 }

.review-text {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(246, 241, 235);
  text-shadow: 2px 2px 7px black;
  margin-left: 25px;
  margin-top: 22px;
}

.reviewcontainer {
  text-align: left;
  margin-top: 1%;
  margin-left: 37%;
  font-size: 38px;
  font-weight: normal;
  color: rgb(246, 241, 235);
  text-shadow: 2px 2px 8px black;
 }

.profilebox {
  margin-left:11%;
}

.picturebox {
  padding: auto;
  margin-top: -6%;
  background-color: #FFBF5F;
  border-radius: 3px 25px;
  width: 30%;
  height: 470px;
  margin-left: 2%;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profilepic {
  border-radius: 3px 25px;
  width: 100%;
  height: 246px
}

.maindiv {
  display:flex;
  justify-content:space-between;
  vertical-align: middle;
  width: 100%;
}
.profile{
  padding-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  padding-bottom: 20px;
}
.profile2{
  padding-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  padding-bottom: 20px;
}

.savechanges {
  margin-left: 1045px;
  background-color: #FFBF5F;
  border-radius: 5px;
}

textarea {
  width: 95%;
  min-height: 150px;
  resize: none;
  border-radius: 8px;
  padding: 0.5rem;
  color: #666;
  &:focus {
    outline: none;
    border: 1px solid darken(#ddd, 5%);
    box-shadow: inset 0 0 0.5rem darken(#FFBF5F, 5%);
  }
  &[placeholder] { 
    font-style: italic;
    font-size: 0.775rem;
  }
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.825rem;
}

@font-face {
  font-family: 'Italiana-Regular';
  src: local('Italiana-Regular'), url(./fonts/Italiana-Regular.ttf) format('ttf');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}