.maincontainer{
    width:80%;
    align-items: center;
    align-content: center;
    vertical-align: center;
    margin: auto;
    border-radius: 8px;
    padding-top: 10px;
    margin-top: 50px;
    background-color: #F2b85f;
    padding-bottom: 10px;
}
.starcontainer{
    display: flex;
    align-items: center;
}
.user-review{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-review-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user-comment{
    width:98%
}

.review-buttons{
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 10px;
}
.review-buttons{
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 10px;
}

.review-buttons2{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
}